<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hello Bulma!</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        profileView();
      });
      function profileView() {
        $.ajax({
          type: "GET",
          headers: {
            authorization: `Bearer ${localStorage.getItem("token")}`,
          },
          url: `/profile`,
          data: {},
          success: function (response) {
            console.log(response["profile"]);
          },
        });
      }

      function nicknameUpload() {

        let formData = new FormData();
        formData.append('nickname',$('#nickname').val())
        formData.append('profileImage', $("#profileImage")[0].files[0], $("#profileImage")[0].files[0].name)
        console.log(formData.get('nickname'))

        $.ajax({
          cache:false,
          processData:false,
          contentType:false,
          type: "PATCH",
          url: `/profile`,
          enctype: 'multipart/form-data',
          headers: {
            authorization: `Bearer ${localStorage.getItem("token")}`,
          },
          data: formData,
          success: function (response) {
            if (response["result"] == "success") {
              window.location.href = "/board";
            }
          }
        });
      }
    </script>
  </head>
  <body>
    <section class="hero is-warning">
      <div class="hero-body">
        <p class="title">Profile</p>
        <p class="subtitle">프로필을 수정하시오</p>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    src="https://bulma.io/images/placeholders/96x96.png"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">John Smith</p>
              </div>
            </div>
          </div>
        </div>

        <form id="form" method="patch" >
  
          <div class="field">
            <label class="label">nickname</label>
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="Text input"
                id="nickname"
                name="nickname"
              />
            </div>
            <p class="help">닉네임을 수정하시오.</p>
          </div>



          <div class="file is-boxed">
            <label class="file-label">
              <input
                class="file-input"
                type="file"
                name="profileImage"
                id="profileImage"
                accept="image/*"
              />
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label"> Profile image Upload </span>
              </span>
            </label>
          </div>
  
          <button
            type="submit"
            class="button is-large is-fullwidth"
            onclick="nicknameUpload()"
          >
            Upload
          </button>

        </form>

      </div>
    </section>
  </body>
</html>
